i{
    margin-left: 10px;
    margin-right: 18px;
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1E1E;
    overflow-x: hidden;
    padding-top: 200px;
}

.navlink {
    padding: 6px 8px 6px 16px;
    text-decoration:  none;
    font-size: 20px;
    color: #818181;
    display: block;
    margin-top: 25px;
    
}

.selected
{
    background-color: #094771;
}

.navlink:hover
{
    color: #cac4c4;
    background-color: #2A2D2E;
}


/*@media screen and (max-height: 450px){
    .sidebar {padding-top: 15px;}
    .navlink {font-size: 18px;}
}*/